{{#paper-list}}

  {{#paper-subheader}}Clickable Items with Secondary Controls{{/paper-subheader}}
  {{#paper-item  as |controls|}}
    {{paper-icon "network-wifi"}}
    <p>Wi-Fi</p>
    <div class="md-secondary-container">
      {{controls.switch secondary=true value=wifiEnabled onChange=(action (mut wifiEnabled))}}
    </div>
  {{/paper-item}}
  {{#paper-item  as |controls|}}
    {{paper-icon "bluetooth"}}
    <p>Bluetooth</p>
    <div class="md-secondary-container">
      {{controls.switch secondary=true value=bluetoothEnabled onChange=(action (mut bluetoothEnabled))}}
    </div>
  {{/paper-item}}
  
  {{paper-divider}}

{{/paper-list}}